.brands {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    position:absolute;
    top:calc(100vh - 60px);
    height:120px;
    width:90vw;
    left: 50%;
    transform: translateX(-50%);
    z-index:9;

}