.contact {
    display:flex;
    flex-direction:row;
    padding:100px;
    gap:50px;
}

.contact-support {
    display:flex;
    flex-direction:column;
    width:50vw;
}

.contact-support h3 {
    color: rgba(63, 63, 63, 1);
    font-weight:400;
    font-size:24px;
}

.contact-support h2 {
    margin:0px;
    padding-bottom:20px;
    font-weight:500;
    color:rgba(150, 83, 212, 1);
    font-size:26px;
    line-height: 42px;

}

.contact-form {
    width:500px;
    gap:10px;
}

.contact-form input {
    height:40px;
    border-radius: 8px;
    border:1px solid grey;
    font-family:'Outfit';
    font-size:14px;
    color: rgba(137, 137, 137, 1);
    font-weight:300;
    padding-left:10px;

}

.contact-form textarea {
    height:200px;
    border-radius: 8px;
    border:1px solid grey;
    font-family:'Outfit';
    color: rgba(137, 137, 137, 1);
    font-weight:300;
    font-size:14px;
    padding-left:10px;
    padding-top:10px;
}

.name-div-form {
    display:flex;
    flex-direction:row;
    width: 100%;
    gap:10px;
}

.name-div-form input {
    width:100%;
}

.contact-form button {
    height:48px;
    background-color: rgba(111, 88, 196, 1);
    color:white;
    font-family:'Outfit';
    border-radius:8px;
    font-weight:300;
}