.main {
    height:calc(100vh);
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/backy.png');
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    transform-origin: center center;
    transition: transform 0.3s ease-out;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with 50% transparency */
    z-index: 1; /* Place the overlay above the background image */
    height:calc(100vh);
}

.main-center sup {
    color: rgba(150, 83, 212, 1);
}

.main-center {
    display:flex;
    text-align: left;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding-right:40px;
    padding-left:40px;
}

.main-center h1 {
    font-size:78px;
    font-weight:700;
    color:white;
    z-index:2;
    margin-bottom:10px;
    text-align:center;
}

.main-center p {
  font-size:20px;
  color:white;
  z-index:2;
  margin-bottom:30px;
  margin-top:0px;
}

.lets-talk {
    background-color: rgba(255, 255, 255, 1);
    width:153px;
    height:66px;
    border-radius: 10px;
    z-index:10;
    font-family: 'Outfit';
    font-size:20px;
    font-weight: 400;
    margin-bottom:40px;
  }

  .lets-talk:hover {
    background-color: rgba(220, 220, 220, 1);

  }

  @media screen and (max-width: 800px) {
    .main-center h1 {
      text-align:center;
      font-size:10vw;
    }

    .main-center p {
      font-size: 3vw;
      text-align:center;

    }

    .lets-talk {
      margin-bottom:120px;
    }
    
    .main {
      height: 90vw;
      min-height:400px;
    }
    .main::before {
      height:90vw;
      top:107px;
      min-height:400px;
    }
  }
  @media screen and (max-width: 500px) {
    .main-center p {
      font-size:16px;
    }
  }
  @media screen and (max-width: 400px) {
    .main-center h1 {
      text-align:center;
      font-size:36px;
    }

  }
    @media screen and (max-width: 500px) {

    .lets-talk {
      margin-bottom:20vw;
      font-size:16px;
    }
  }
