.services {
    background-color: white;
    padding:100px 200px;
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:30px;
}

.services h2 {
    margin:0px;
    padding-bottom:20px;
    height:60px;
    font-weight:500;
    color:rgba(150, 83, 212, 1);
    font-size:32px;
    line-height: 42px;

}

.services img {
    width: 48px;
    padding-bottom:20px;
}

.services h6 {
    font-weight:400;
    font-size:20px;
    margin:0px;
    padding-bottom:10px;
    color: rgba(53, 65, 75, 1);

}

.services p {
    font-size:16px;
    margin:0px;
    color: rgba(78, 90, 101, 1);
    font-weight:300;

}

.service-container {
    width: calc((100vw - 560px)/3);
    display:flex;
    flex-direction:column;
    min-width:200px;
}

.service-cards-container {
    display:flex;
    gap:80px;
    flex-wrap:wrap;
    flex-direction:row;

}

@media screen and (max-width: 1160px) {
    .service-container {
        width: calc((100vw - 480px)/2)
    }
}

@media screen and (max-width: 880px) {
    .services {
        padding:100px;
    }

    .service-container {
        width: calc((100vw - 280px)/2)
    }
}

@media screen and (max-width: 680px) {
    .service-container {
        width:100%;
        align-items: center;
        text-align:center;
    }

    .services {
        padding:20vw;
    }

    .service-cards-container {
        gap:40px;
    }
}