@font-face {
  font-family: 'Outfit';
  src: url('../font/Outfit-VariableFont_wght.ttf') format('truetype'); /* Update the path accordingly */
  /* You can include additional font formats (e.g., woff, woff2) for better browser compatibility */
}

* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    position:relative;
    margin:0px;
  }
  
  body {
    font-family: 'Outfit', sans-serif; /* Use 'Outfit' as the preferred font, fallback to a generic sans-serif font */
    color: #272727;
    background: #ffffff;
  }
  
  button {
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
  }
  