.burger {
  z-index: 40;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-image: url("./menu.svg");
  background-repeat: no-repeat;
  background-position: center;

}

.menu {
  position:fixed;
}

.burger.open {
  background-image: url("./close.svg");
}

.background {
  position: fixed;
  top:107px;
  left:0px;
  z-index: 200;
  background: rgba(75, 56, 149, 1);
  opacity: 1;
  transition: 0.05s;
  width:100vw;
  height:calc(100vh - 107px);
}


.menu {
  z-index: 300;
  position:fixed;
  top: 107px;
  right: 0;
  display: flex;
  align-items: flex-start;
  height:calc(100vh - 107px);
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.menu a {
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  padding: 20px 0 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
}

.mobile-navigation-links {
  display:flex;
  flex-direction:column;
  gap:40px;
  font-size:20px;
  list-style-type: none;
  font-weight:300;
  color:white;
  padding-right:40px;
  align-items:  flex-start;
  width:100%;

}

.mobile-get-in-touch {
    height:66px;
    padding: 16px, 26px, 16px, 26px;
    width: 224px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 1);
    font-size: 18px;
    color:rgba(38, 38, 38, 1);
    font-family: 'Outfit';
}

.project-in-mind {
  color:white;
}

.open-menu-CTA {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

.mobile-navigation-links li {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed */
  border-bottom: 0.5px solid #ffffff; /* Adjust the color and thickness as needed */
  padding-bottom: 20px; /* Optional: Add padding for spacing between the text and the line */
  width:100%;
  cursor:pointer;
}

