.project_card_outer {
    min-width: 400px;
    min-height: calc(400px / 654 * 409);
    width: calc(50vw - 210px / 2);
    height: calc((50vw - 210px / 2) / 654 * 409);
    max-width: 500px;
    max-height: calc(500px / 654 * 409);
    overflow:hidden;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center center;
}

.project_card {
    width:100%;
    height:100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    position: relative;
    transition: transform 0.3s ease-in-out; /* Adding transition effect */
    cursor:pointer;
}

.project_card:hover {
    transform:scale(1.1);
}

.project_card_outer.flipped {
    transform: rotateY(180deg);
}

.project_card_outer .back-content {
    /* Styles for the back of the card */
    transform: rotateY(180deg);
}


.show {
    display:none;
}

.project_card div {
    background-color: rgba(0, 0, 0, 0.448);
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:2;
}


.project_card h1 {
    font-size: 24px;
    font-weight: 300;
    z-index:3;
}

.project_card p {
    font-size: 16px;
    font-weight: 200;
    z-index:3;
}